<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silownia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Silownia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Siłownia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    bool loggedIn = Context.Session.GetString("userId") != null;
                    bool isAdmin = Convert.ToBoolean(Context.Session.GetString("isAdmin") ?? "false");
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if(loggedIn){
                    <form method="post" action="/api/Logowanie/Logout">
                        <button type="submit" class="btn">Wyloguj</button>
                    </form>
                    if(isAdmin){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Uzytkownik" asp-action="Index">Użytkownicy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Karnet" asp-action="Index">Karnety</a>
                        </li>
                    }
                    else{
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Karnet" asp-action="Index">Karnety</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Wejscie" asp-action="Index">Treningi</a>
                        </li>
                    }
                }
                else{
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Logowanie" asp-action="Login">Zaloguj</a>
                    </li>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Silownia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
