@{
    ViewData["Title"] = "IO";
}
@* metodę obsługującą sprawdzanie prawidłowości wpisanego hasła i loginu. Stwórz dla tej metody odpowiedni widok Razor, który będzie zawierał formularz z polami, które będą pobierały login i hasło. Para hasło i login mogą być na razie wpisane w kodzie kontrolera na potrzeby testów (w poleceniu 2 zastąpimy je poprzez zapisanie loginu i hasła w bazie).  *@
<p> Logowanie </p>