@* Create login cshtml page *@
@{
    ViewBag.Title = "Login";
}

<h2>Logowanie niepoprawne</h2>
<p>Wprowadzono niepoprawne dane logowania.</p>
<p>Wróć do okna logowania i spróbuj ponownie.</p>
@* create href to login page *@
<p><a href="@Url.Action("Login", "IO")">Wróć do logowania</a></p>
```


