@* Create login cshtml page *@
@{
    ViewBag.Title = "Login";
}

<h2>Logowanie poprawne</h2>
@* Create logout button which trigger http action *@
<form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-default">Wyloguj</button>
</form>





