@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* stwórz div w którym będzie informacja o tym że jesteś niezalogowany i przyciskiem który przenosi do strony logowania *@

@if(ViewBag.LoggedIn == true)
{
    <div class="text-center">
        <h1 class="display-4">Jesteś zalogowany!</h1>
        <form method="post" action="/api/Logowanie/Logout">
        <button type="submit" class="btn btn-primary">Wyloguj</button>
        </form>
    </div>
}
else {
    <div class="text-center">
        <h1 class="display-4">Nie jesteś zalogowany!</h1>
        <p>Przejdź <a href="/api/Logowanie/Login">tutaj</a> aby się zalogować</p>
    </div>
}

